@font-face {
  font-family: 'Scoreboard';
  src: url('fonts/scoreboard.ttf') format('truetype')
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: black;
}

.outer-box {
  height: 100vh;
  width: 100vw;
}

.now-serving {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.now-serving-header {
  font-size: 7.5vw;
  font-style: italic;
  color: white;
  padding-top: 1rem;
}

.now-serving-number {
  font-family: 'Scoreboard';
  font-size: 35vw;
  color: red;
  text-shadow: 0 0 10px #fff, 0 0 20px #000, 0 0 30px #000, 0 0 40px #f00, 0 0 20px #f00, 0 0 20px #f00;
}

body {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 #cc0000, 0 15px 20px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #cc0000, 0 15px 20px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #cc0000, 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 5vh;
  color: #fff;
}

.button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: red;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 100%, 65%, 1)), to(hsla(0, 100%, 25%, 1)));
  background-image: -webkit-linear-gradient(hsla(0, 100%, 65%, 1), hsla(0, 100%, 25%, 1));
  background-image: -moz-linear-gradient(hsla(0, 100%, 65%, 1), hsla(0, 100%, 25%, 1));
  background-image: -o-linear-gradient(hsla(0, 100%, 65%, 1), hsla(0, 100%, 25%, 1));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(204, 0, 0, 1);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
  background-color: #ec6a9c;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
  -webkit-box-shadow:    0 8px 0 red, 0 12px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 8px 0 red, 0 12px 10px rgba(0, 0, 0, .3);
  box-shadow:    0 8px 0 red, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}